@font-face {
  font-family: Vazir;
  src: url("./assets/Vazir.ttf");
}
* {
  font-family: Vazir;
}
tbody tr:hover {
  background-color: #e7e7e7;
}

table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px 0px;
}

tbody > tr:nth-of-type(2), tr:nth-of-type(4) {
  background-color: #f2f2f2;
}
